
@{
    ViewBag.Title = "Artists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Swiper -->
<body id="Artists">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @Html.Raw(ViewBag.View);
        </div>
        <!-- Add Pagination -->



    </div>

    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</body>

