@{
    ViewBag.Title = "Home Page";
}

<div class="containerIndex">
    	<div class="box leftIndex">
        
        </div>
        
        <div class="box contentIndex">
        
        </div>
        
        <div class="box rightIndex">
        
        </div>
        
 </div>