
@{
    ViewBag.Title = "Videos";
    Layout = "~/Views/Shared/videos.cshtml";
}

<div class="container-videos">
    <div class="list-of-videos">
        <div nth="0" class="one-video"> <p></p></div>
        <div nth="1" class="one-video"> <p></p></div>
        <div nth="2" class="one-video"> <p></p></div>
        <div nth="3" class="one-video"> <p></p></div>
        <div nth="4" class="one-video"> <p></p></div>
        <div nth="5" class="one-video"> <p></p></div>
        <div nth="6" class="one-video"> <p></p></div>
    </div>
    <div class="container-show-video">
        <div class="brand">
            <h1>
                <span>W</span>
                <span>Z</span>
                <span>I</span>
                <span>C</span>
            </h1>
        </div>
        <div class="show-video">
            <iframe src="" frameborder="0" allowfullscreen></iframe>
            <div class="info-video">
                <hr>
                <h2></h2>
                <hr>
                <button type="submit" class="show-lyric">
                    <h3>Lyric</h3>
                </button>
                <div class="lyric"> </div>
            </div>
        </div>
    </div>
</div>

