
/* CSS Document */
/*--------------------------------------*/
/*----------------Set Default----------*/
/*------------------------------------*/
body {
    padding: 0;
    margin: 0;
    overflow-x:hidden;

}
/*--------------------------------------*/
/*----------------Header Part----------*/
/*------------------------------------*/
.header {
    width: 100%;
    height: 50px;
    background: #2c3e50;
    position: relative;
}
/*--------------------------------------*/
/*----------------Logo on Header----------*/
/*------------------------------------*/
#logo {
    font-size: 38px;
    color: #3498db;
    position: absolute;
    top: 7px;
    left: 230px;
}
/*--------------------------------------*/
/*----------------Search on header----------*/
/*------------------------------------*/
#search {
    position: relative;
    left: 300px;
}

div #inputSearch {
    position: absolute;
    width: 500px;
    height: 25px;
    top: 11px;
    left: 0px;
    padding-left: 10px;
    text-transform: capitalize;
}
/*--------------------------------------*/
/*----------------Icon in "inputSearch"----------*/
/*------------------------------------*/
div.header #search #icon {
    font-size: 18px;
    position: absolute;
    top: 15px;
    left: 490px;
}
/*--------------------------------------*/
/*----------------Login on header----------*/
/*------------------------------------*/
.header .menu_login {
    position: absolute;
    right: 20%;

}
    .header ul{
        width: auto;
        height: auto;
    }

.header .menu_login ul li {
    list-style-type: none;
    width: 70px;
    height: 10px;
    display:table-cell;
}

.header .menu_login li a {
    display: block;
    padding: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    border: 1px solid white;
    margin-right: 5px;
}


    /*--------------------------------------*/
    /*----------------Menu bar----------*/
    /*------------------------------------*/
    .menuBar {
        width: 100%;
        position: relative;
        background: #bdc3c7;
        top: -16px;
        left: 0;
    }
    /*--------------------------------------*/
    /*----------------Icon----------*/
    /*------------------------------------*/
    .menuBar i {
        position: absolute;
        top: 8px;
    }
/*--------------------------------------*/
/*----------------Icon of each elements of menu----------*/
/*------------------------------------*/
.fa {
    transition: 0.5s;
}

.fa-viadeo {
    font-size: 20px;
}
/*--------------------------------------*/
/*----------------Each elements of menu----------*/
/*------------------------------------*/
ul.menuBar li {
    position: relative;
    display: inline-table;
    list-style-type: none;
    left: 16.5%;
    margin-right: 5px;
    padding: 0px 10px;
}

    ul.menuBar li a {
        color: #000;
        text-align: center;
        padding: 25px;
        text-decoration: none;
        width: 100px;
        height: 40px;
        line-height: 40px;
        transition: 0.5s;
    }

    ul.menuBar li:hover {
        background: #FFF;
        color: #ffd800;
    }

        ul.menuBar li:hover a {
            color: #ffd800;
        }

        ul.menuBar li:hover .fa {
            font-size: 23px;
            color: #3498db;
        }

        ul.menuBar li:hover .fa-viadeo {
            font-size: 27px;
            color: #3498db;
        }
