.containerIndex {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 100vh;
    margin: 0;
    margin-top: -32px;
    margin-bottom: -101vh;
}

.box.leftIndex {
    background: blue;
}

.box.contentIndex {
    background: green;
}

.box.rightIndex {
    background: aqua;
}
